@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Oswald, sans-serif;

	// border: dashed 2px red;
}

// this should be removed during production
.placeholder {
	@apply grid place-content-center text-5xl text-red-700 uppercase;
}

#__next {
	@apply grid;

	grid-template-rows: 3.5rem 1fr;
	padding: 1rem 3.5rem;
	min-height: 100vh;
}

main {
	@apply w-full h-full font-sans font-bold;
}

.shop-category {
	position: relative;

	@apply min-w-full lg:min-w-[30%] h-60 flex-auto cursor-pointer flex justify-center items-center;

	&::before {
		content: '';
		position: absolute;
		background-image: var(--background);

		@apply bg-center bg-cover w-full h-full z-[-1];
	}

	&:hover {
		&::before {
			background-size: 100%;
			filter: brightness(1);
			animation: growBackground 8s forwards linear, darkenBackground 0.5s forwards;
		}

		> div {
			@apply bg-opacity-60 transition-colors duration-300;
		}
	}

	&.large {
		@apply lg:h-96;
	}
}

.shrink {
	@apply text-xs top-[-14px] text-black;
}

@keyframes growBackground {
	from {
		background-size: 100%;
	}

	to {
		background-size: 200%;
	}
}

@keyframes darkenBackground {
	from {
		filter: brightness(1);
	}

	to {
		filter: brightness(0.8);
	}
}
