@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Oswald, sans-serif;
}

#__next {
	@apply grid;

	padding: 2.5rem;
	grid-template-rows: 3.5rem 1fr;
	width: 100vw;
	height: 100vh;
}

main {
	@apply w-full h-full font-sans font-bold;
}

.link {
	@apply uppercase hover:text-red-300 duration-200 transition-colors;
}

.shop-category {
	position: relative;

	@apply min-w-full lg:min-w-[30%] h-60 flex-auto cursor-pointer flex justify-center items-center;

	&::before {
		content: '';
		position: absolute;
		background-image: var(--background);

		@apply bg-center bg-cover w-full h-full z-[-1];
	}

	&:hover {
		&::before {
			animation: growBackground 8s forwards linear, darkenBackground 0.5s forwards;
		}

		> div {
			@apply bg-opacity-60 transition-colors duration-300;
		}
	}

	&.large {
		@apply lg:h-96;
	}
}

@keyframes growBackground {
	from {
		background-size: 100%;
	}

	to {
		background-size: 200%;
	}
}

@keyframes darkenBackground {
	from {
		filter: brightness(1);
	}

	to {
		filter: brightness(0.8);
	}
}
